### 6.1 Loading Alternative Data

In [1]:
# load path
import sys
if "src/" not in sys.path:
    sys.path.append("src/")

from pypm import data_io
import numpy as np
import pandas as pd
from typing import List

In [2]:
# Load in everything
symbols: List[str] = data_io.get_all_symbols()
eod_data: pd.DataFrame = data_io.load_eod_matrix(symbols)
alt_data: pd.DataFrame = data_io.load_alternative_data_matrix(symbols)

In [3]:
eod_data

,EHH,RQG,FJZC,MEF,PQCE,KTVL,CHWK,IYPP,PSWA,WHMG,...,UTQ,ZGL,JMS,SXQ,YPDA,NDQC,QEBK,RPEZ,FSVO,DLVY
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,164.24,183.58,137.98,100.33,166.97,50.33,122.72,NaN,118.30,96.63,...,83.17,66.16,78.11,149.74,160.32,182.79,31.05,87.05,114.06,143.48
2010-01-05,163.53,181.64,137.36,102.65,167.60,52.80,123.37,NaN,118.83,95.49,...,83.37,65.13,75.88,148.62,160.91,184.46,31.17,86.39,112.94,140.35
2010-01-06,163.38,179.38,139.37,103.68,171.89,54.66,125.72,NaN,119.63,95.26,...,82.90,65.47,75.63,146.44,160.31,177.72,31.46,85.48,112.38,138.11
2010-01-07,159.75,180.82,139.42,103.39,186.63,55.06,124.35,NaN,119.72,95.82,...,83.06,64.85,74.24,148.02,157.95,175.10,31.49,85.90,112.58,139.75
2010-01-08,162.29,182.04,139.75,103.30,194.65,53.77,122.38,NaN,122.10,95.09,...,84.91,64.46,75.34,147.79,158.72,175.90,31.47,85.56,113.07,140.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,146.72,1875.99,508.93,633.65,2080.55,128.36,266.89,140.12,825.72,185.89,...,461.40,76.93,775.84,470.51,68.89,1621.70,153.39,268.70,389.77,1082.79
2019-12-26,145.24,1899.38,511.64,629.95,2068.65,128.08,267.82,142.40,822.38,185.20,...,460.94,76.52,778.06,471.78,68.69,1626.55,153.78,269.74,387.09,1087.14
2019-12-27,142.80,1897.45,511.98,629.09,2079.81,127.76,268.27,141.26,822.13,184.86,...,458.63,76.34,780.10,473.05,66.88,1631.70,153.92,271.16,389.72,1086.56
2019-12-30,143.47,1871.29,511.88,626.13,2059.64,126.66,264.13,141.07,816.81,184.04,...,455.93,76.75,782.20,469.16,65.45,1614.80,152.90,269.05,385.87,1080.69
2019-12-31,144.65,1870.53,514.78,627.32,2071.69,126.97,267.46,141.22,811.94,186.84,...,454.79,77.08,780.54,472.43,66.53,1609.77,152.58,271.68,388.15,1085.57

In [4]:
alt_data

,EHH,RQG,FJZC,MEF,PQCE,KTVL,CHWK,IYPP,PSWA,WHMG,...,UTQ,ZGL,JMS,SXQ,YPDA,NDQC,QEBK,RPEZ,FSVO,DLVY
date,,,,,,,,,,,,,,,,,,,,,
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,267844.0,NaN,NaN,NaN
2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,269965.0,NaN,NaN,NaN
2015-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,311826.0,NaN,NaN,NaN
2015-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,253922.0,NaN,NaN,NaN
2015-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,271244.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,40617.0,116564.0,126633.0,73336.0,NaN,53010.0,94790.0,NaN,406015.0,30145.0,...,271742.0,113701.0,30876.0,57330.0,126736.0,202190.0,333116.0,17362.0,281630.0,222521.0
2019-12-26,37471.0,103700.0,129073.0,84189.0,NaN,43633.0,97613.0,NaN,341863.0,31947.0,...,252703.0,133707.0,27772.0,67887.0,121564.0,175543.0,346510.0,21105.0,303779.0,301477.0
2019-12-27,38531.0,84807.0,121731.0,97341.0,NaN,60853.0,88528.0,NaN,374919.0,37745.0,...,222979.0,143476.0,27352.0,74239.0,124437.0,202872.0,348754.0,16699.0,347695.0,271914.0
2019-12-30,31784.0,138471.0,127968.0,89754.0,NaN,47092.0,77454.0,NaN,483344.0,38114.0,...,251072.0,136221.0,25574.0,68139.0,141617.0,188600.0,329846.0,20909.0,256400.0,270478.0
2019-12-31,48240.0,103401.0,134605.0,104464.0,NaN,53122.0,82447.0,NaN,390876.0,40381.0,...,266824.0,163714.0,27692.0,78183.0,152879.0,195053.0,349135.0,17109.0,292813.0,223532.0

In [5]:
# Our eod_data goes back 10 years, but our alt_data goes back 5 years
eod_data = eod_data[eod_data.index >= alt_data.index.min()]
assert np.all(eod_data.index == alt_data.index)
assert np.all(eod_data.columns == alt_data.columns)

### 6.2 Exploratory Analysis

In [6]:
from pypm import data_io, metrics
import numpy as np
import pandas as pd
from typing import List

In [7]:
# Load in everything
symbols: List[str] = data_io.get_all_symbols()
eod_data: pd.DataFrame = data_io.load_eod_matrix(symbols)
alt_data: pd.DataFrame = data_io.load_alternative_data_matrix(symbols)
eod_data = eod_data[eod_data.index >= alt_data.index.min()]

In [8]:
_calc_returns = metrics.calculate_log_return_series
_corr_by_symbol = dict()

In [9]:
for symbol in symbols:

    alt_series = alt_data[symbol].dropna()
    price_series = eod_data[symbol]

    if alt_series.empty:
        continue

    # Calculate returns, ensuring each series has the same index
    price_return_series = _calc_returns(price_series.loc[alt_series.index])
    alt_return_series = _calc_returns(alt_series)

    # Remove the NA at the front
    price_return_series = price_return_series.iloc[1:]
    alt_return_series = alt_return_series.iloc[1:]

    # Calculate the correllation
    _corr = np.corrcoef(price_return_series, alt_return_series)

    # This element of the correlation matrix is the number we want
    _corr_by_symbol[symbol] = _corr[1,0]

/Users/yusun/Developer/miniconda3/envs/lab/lib/python3.11/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [10]:
# Describe results
results = pd.Series(_corr_by_symbol)
print(pd.DataFrame(results.describe()).T)

   count      mean       std       min       25%       50%     75%       max
0   97.0 -0.002539  0.032456 -0.065556 -0.024983 -0.003735  0.0174  0.099085